<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
        <span>Lugar para poner barra de búsqueda</span>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="Baneer ofertas" width="100%">
        <section>
            <h4>Basado en tu ultima visita</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="100%">
                <p>$6.770</p>
                <p>40% offf</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <p>$230.000</p>
                <p>20% offf</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <p>$70.500</p>
                <p>40% offf</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                <p>$23.200</p>
                <p>5% offf</p>
                <h5>SmartTv Samsung 43</h5>
            </article>
        </section>
        <section>
            <h4>Sección de ofertas</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="100%">
                <p>$6.770</p>
                <p>40% offf</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <p>$230.000</p>
                <p>20% offf</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <p>$70.500</p>
                <p>40% offf</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                <p>$23.200</p>
                <p>5% offf</p>
                <h5>SmartTv Samsung 43</h5>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
         <span>Copyright ©️ 1999-2022 Mercado Liebre S.R.L.</span>
    </footer>
</body>
</html>
